/*----------------------TRANSICIONES FORMULARIO--------------------------------*/


.kb-input-size-standard {
    display: block;
    position: relative;
    margin: 0 5px 30px 0;
  }
  .kb-input-size-standard label {
    position: absolute;
    top: 13px;
    left: 6px;
    transition: 0.1s all linear;
  }
  .kb-input-size-standard.active label {
      color: #d2072a;
      font-size: 13px;
        top: -18px;
  }
  
  .kb-input-size-standard label + textarea{
      position: relative;
      top: 50px;
  }
  
  .formularioContacto button{
      margin-top: 50px !important;
  }
  
  /*--------------------------------------------------------------------------------------*/